<% if @product.errors.any? %>
<div id="error_explanation">
<h2>Infelizmente não foi possível completar ação pois o formulário possui os seguintes erros:</h2>
<ul>
  <% @product.errors.full_messages.each do |message|%>
  <li><%= message %> </li>
  <% end %>
</ul>
</div>
<% end %>

<%= form_for @product do |f| %>
<p>
  <%= f.label :name %> <br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :producer %> <br />
  <%= f.text_field :producer %>
</p>
<p>
  <%= f.label :sub_category %> <br />
  <%= f.collection_select :sub_category_id, SubCategory.all, :id, :name, prompt: 'Selecione uma Subcategoria'  %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>